body {
    font-family: 'DM Serif Text','Serif';
    cursor: crosshair;
    background: rgb(214, 210, 196, 10%);
}

a {
    cursor: crosshair;
}

.navbar {
    margin-top: 20px;
    left: 50px;
    position: fixed;
}

.container {
    top: 20px;
    position: fixed;
}

.profilePic {
    width: 240px;
}

.aboutContainer {
    color: black;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

.about {
    text-align: center;
    margin-top: 20%;
    padding: 70px;
}

.aboutMain {
    background: rgb(214, 210, 196, 0.5%);
    box-shadow: 3px 3px 5px 0.2px;
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

.floating {
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0, 0px); }
    50% { transform: translate(0, 15px); }
    100% {transform: translate(0, -0px); }
}

.welcomeContainer {
    top: 33%;
    margin-left: 200px;
    position: absolute;
}

.hover {
    transition: font-size 0.3s ease-out;
    margin-bottom: -20px;
}

/*
.hover:hover {
    font-size: 25px;
    transition: font-size 0.3s ease-in-out;
} */

.enterButton {
    cursor: crosshair;
    width: 210px;
    margin-top: 26px;
    border: none;
    background-color: black;
    text-decoration: none;
    color: white;
}