body {
    font-family: 'Helvetica';
    cursor: crosshair;
}

a {
    cursor: crosshair;
}

.navbar {
    margin-top: 20px;
    left: 50px;
    position: fixed;
}

.profilePic {
    width: 240px;
}

.navbarRight {
    color: black;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

.navbarContainer {
    text-align: center;
    position: fixed;
    top: 100px;
    right: 70px;
}

.floating {
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0, 0px); }
    50% { transform: translate(0, 15px); }
    100% {transform: translate(0, -0px); }
}

.welcomeContainer {
    top: 33%;
    margin-left: 200px;
    position: absolute;
}

.hover {
    transition: font-size 0.3s ease-out;
    margin-bottom: -20px;
}

/*
.hover:hover {
    font-size: 25px;
    transition: font-size 0.3s ease-in-out;
} */

.enterButton {
    cursor: crosshair;
    width: 210px;
    margin-top: 26px;
    border: none;
    background-color: black;
    text-decoration: none;
    color: white;
}