body {
  font-family: 'DM Serif Text','Serif';
  cursor: crosshair;
  background: rgb(214, 210, 196, 10%);
}

* {
  cursor: crosshair;
}

a {
  cursor: crosshair;
}

.navbar {
  margin-top: 20px;
  left: 50px;
  position: fixed;
}

.section {
  z-index: -1;
}

.container {
  top: 20px;
  position: fixed;
}

.logo {
  z-index: -5;
}

.profilePic {
  width: 240px;
}

.aboutContainer {
  color: black;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.about {
  text-align: center;
  margin-top: -20px;
  padding: 20px 30px 10px 30px;
}

.aboutMain {
  background: rgb(214, 210, 196, 0.5%);
  box-shadow: 3px 3px 5px 0.2px;
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

.floating {
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0, 0px); }
  50% { transform: translate(0, 15px); }
  100% {transform: translate(0, -0px); }
}

.welcomeContainer {
  top: 33%;
  margin-left: 200px;
  position: absolute;
}

.hover {
  transition: font-size 0.3s ease-out;
  margin-bottom: -20px;
}

/*
.hover:hover {
  font-size: 25px;
  transition: font-size 0.3s ease-in-out;
} */

.enterButton {
  cursor: crosshair;
  width: 210px;
  margin-top: 26px;
  border: none;
  background-color: black;
  text-decoration: none;
  color: white;
}

.workGrid{
  margin: 20px auto;
  width:400px;
  height:400px;
  background-color:#fff;
  display:grid;
  grid-template-columns: 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.box{
  background-color:#333;
  padding:20px;
  border-radius:10px;
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
}

.myBtn {
  align-items:center;
  padding: 5px;
  width: 80px;
  font-size: 14px;
}